.header {
    border: solid 1px rgb(253, 165, 253);
    background-color: lightblue;
}

.client {
    border: solid 1px rgb(253, 165, 253);
    overflow: scroll;
}

.footer {
    border: solid 1px rgb(253, 165, 253);
    background-color: powderblue;
}